<%= content_for(:title, t('.title')) %>
<div class="login-box" >
  <div class="login-logo">
    <h1><%= t('defaults.login') %></h1>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <%= form_with url: admin_login_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email, User.human_attribute_name(:email) %>
          <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
        <div class="form-group">
          <%= f.label :password, User.human_attribute_name(:password) %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
        <div class="actions">
          <%= f.submit (t'defaults.login'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
